<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Employer Offers</title>
</head>

<body>
<div class="container">
    <h1>Employer Offers</h1>
    wyświetlamy oferty danej firmy po naciśnięciu np w przycisk w wyszukiwaniu firmy
    <br>


</div>
</body>
</html>