<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Offers</title>
</head>

<body>
<div class="container">
    <h1>Offers</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/developer/matched_offers}" class="btn btn-info" role="button">Matched offers</a>
        </div>
    </div>
    <div class="container">
        <h1>Find Company</h1>
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/developer}" class="btn btn-info" role="button">Go back to the main page</a>
            </div>
        </div>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Experience Level  </th>
                <th>Employer </th>
                <th>City</th>
                <th>Remote Work</th>
                <th>Salary Min</th>
                <th>Salary Max</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${allOffersDTOs}">
                <td th:text="${offer.getTitle()}"></td>
                <td th:text="${offer.getExperienceLevel()}"></td>
                <td th:text="${offer.getEmployerId().getCompanyName()}"></td>
                <td th:text="${offer.getCityId().getCityName()}"></td>
                <td th:text="${offer.getRemoteWork()}"></td>
                <td th:text="${offer.getSalaryMin()}"></td>
                <td th:text="${offer.getSalaryMax()}"></td>
                <td th:text="${offer.getCreatedAt()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>