<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>DevFinder - Candidate</title>
    <div th:replace="~{fragments :: head_style_}"></div>

</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a th:href="@{/}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DevFinder</h3>
            </a>
            <div class="navbar-nav w-100">
                <a th:href="@{/candidate/offers}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Find an Offers</a>
                <a th:href="@{/candidate/employers}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Find an Employer</a>
                <a th:href="@{/candidate/applications}" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Your applications</a>
                <a th:href="@{/candidate/my_employer}" class="nav-item nav-link"><i class="fa-regular fa-address-card me-2"></i>My Employer</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6 text-center">
                    <h3>Candidate portal</h3>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>
</body>

</html>