<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Candidate - Edit Profile</title>
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">

                        <div th:if="${param.new}">
                            <h3 class="mb-4">You don't have profile page. Fill out your profile</h3>
                        </div>
                        <div th:unless="${param.new}">
                            <h3 class="mb-4">Edit Your Profile</h3>
                        </div>
                        <div th:if="${param.delete_cv_file}">
                            <div class="alert alert-success">You deleted CV file</div>
                        </div>
                        <div th:if="${param.delete_photo_file}">
                            <div class="alert alert-success">You deleted photo file</div>
                        </div>

                        <!--                        FACE PHOTO-->
                        <form action="#"
                              th:action="@{/candidate/edit_profile/delete_photoFile}"
                              th:method="DELETE"
                              id="cvFileForm">
                            <dl class="row mb-0" th:if="${photoFileLink != null}">
                                <dt class="col-sm-4">Actual face photo:</dt>
                                <dd class="col-sm-8">
                                    [[${photoFileLink}]]
                                    <button type="submit" form="cvFileForm" class="btn  btn-info m-2">Delete
                                    </button>
                                </dd>
                            </dl>
                        </form>
                        <!--                            CV FILE-->
                        <form action="#"
                              th:action="@{/candidate/edit_profile/delete_cvFile}"
                              th:method="DELETE"
                              id="photoFileForm">
                            <dl class="row mb-0" th:if="${cvFileLink != null}">
                                <dt class="col-sm-4">Actual cv file</dt>
                                <dd class="col-sm-8">
                                    [[${cvFileLink}]]
                                    <button type="submit" form="photoFileForm" class="btn  btn-info m-2">Delete
                                    </button>
                                </dd>
                            </dl>
                        </form>
                        <form
                                th:action="@{/candidate/update}"
                                th:method="POST"
                                th:object="${candidateDetailsDTO}"
                                enctype="multipart/form-data"
                                id="editForm"
                        >
                            <dl class="row mb-0">

                                <dt class="col-sm-4">Upload face photo</dt>
                                <dd class="col-sm-8">
                                    <div class="mb-3">
                                        <input class="form-control bg-dark"
                                               th:field="*{filePhoto}"
                                               accept="image/png, image/jpeg"
                                               type="file"
                                               id="photoFile">
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Upload CV File as PDF</dt>
                                <dd class="col-sm-8">
                                    <div class="mb-3">
                                        <input class="form-control bg-dark"
                                               th:field="*{fileCv}"
                                               accept="application/pdf"
                                               type="file"
                                               id="cvFile">
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Status</dt>
                                <dd class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="statusActive"
                                               th:value="${statusEnumActive}"
                                               th:checked="${candidateDetailsDTO.status != null} ? ${candidateDetailsDTO.status} : true"
                                               th:field="*{status}">
                                        <label th:text="${statusEnumActive}" class="form-check-label"
                                               for="statusActive"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="statusInactive"
                                               th:value="${statusEnumInactive}"
                                               th:checked="${candidateDetailsDTO.status != null} ? ${candidateDetailsDTO.status} : false"
                                               th:field="*{status}">
                                        <label th:text="${statusEnumInactive}" class="form-check-label"
                                               for="statusInactive"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="statusEmployed"
                                               th:value="${statusEnumEmployed}"
                                               th:checked="${candidateDetailsDTO.status != null} ? ${candidateDetailsDTO.status} : false"
                                               th:field="*{status}">
                                        <label th:text="${statusEnumEmployed}" class="form-check-label"
                                               for="statusEmployed"></label>
                                    </div>
                                </dd>


                                <dt class="col-sm-4">First name</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{firstName}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Last name</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{lastName}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Residence City</dt>
                                <dd class="col-sm-8">
                                    <input
                                            th:if="${candidateDetailsDTO.residenceCityId != null}"

                                            type="text"
                                            class="form-control"
                                            th:name="residenceCityName"
                                            th:text="${candidateDetailsDTO.residenceCityId.cityName}"
                                            th:value="${candidateDetailsDTO.residenceCityId.cityName}"
                                    >
                                    <input
                                            th:if="${candidateDetailsDTO.residenceCityId == null}"
                                        type="text"
                                            class="form-control"
                                            th:name="residenceCityName"
                                            th:field="*{residenceCityName}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Experience level</dt>
                                <dd class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="expJunior"
                                               th:value="${expLevelEnumJunior}"
                                               th:checked="${candidateDetailsDTO.experienceLevel != null} ? ${candidateDetailsDTO.experienceLevel} : true"
                                               th:field="*{experienceLevel}">
                                        <label th:text="${expLevelEnumJunior}" class="form-check-label"
                                               for="expJunior"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="expMid"
                                               th:value="${expLevelEnumMid}"
                                               th:checked="${candidateDetailsDTO.experienceLevel != null} ? ${candidateDetailsDTO.experienceLevel} : false"
                                               th:field="*{experienceLevel}">
                                        <label th:text="${expLevelEnumMid}" class="form-check-label"
                                               for="expMid"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="expSenior"
                                               th:value="${expLevelEnumSenior}"
                                               th:checked="${candidateDetailsDTO.experienceLevel != null} ? ${candidateDetailsDTO.experienceLevel} : false"
                                               th:field="*{experienceLevel}">
                                        <label th:text="${expLevelEnumSenior}" class="form-check-label"
                                               for="expSenior"></label>
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Years of experience</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="number"
                                            class="form-control"
                                            th:field="*{yearsOfExperience}"
                                            min="0"
                                            step="1"
                                    >
                                </dd>

                                <dt class="col-sm-4">Tech Stack</dt>
                                <dd class="col-sm-8">
                                    <div class="m-n2">
                                        <span th:each="skill : ${allSkillsDTOs}">
                                            <input type="checkbox"
                                                   th:value="${skill.skillName}"
                                                   th:id="${skill.skillId}"
                                                   th:name="candidateSkillsNames"
                                                   th:checked="${candidateDetailsDTO.candidateSkills != null} ? ${skillChecked.contains(skill.skillName)} : false"
                                                   class="btn-check"
                                                   autocomplete="on">
                                            <label type="checkbox"
                                                   class="btn btn-outline-light m-2"
                                                   th:for="${skill.skillId}"
                                                   th:text="${skill.skillName}"
                                            ></label>
                                        </span>
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Other Skills</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{otherSkills}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Education</dt>
                                <dd class="col-sm-8">
                                    <textarea
                                            type="text"
                                            class="form-control"
                                            rows="2"
                                            th:field="*{education}"
                                    ></textarea>
                                </dd>

                                <dt class="col-sm-4">Foreign Language</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{foreignLanguage}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Minimum expected payout</dt>
                                <dd class="col-sm-8">
                                    <div class="input-group mb-3">
                                        <input type="number"
                                               class="form-control"
                                               th:field="*{salaryMin}"

                                        >
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Open to remote job</dt>
                                <dd class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="openToRemote"
                                               th:value="${true}"
                                               th:checked="${candidateDetailsDTO.openToRemoteJob != null} ? ${candidateDetailsDTO.openToRemoteJob} : false"
                                               th:field="*{openToRemoteJob}">
                                        <label class="form-check-label" for="openToRemote">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               type="radio"
                                               id="noOpenToRemote"
                                               th:value="${false}"
                                               th:checked="${candidateDetailsDTO.openToRemoteJob != null} ? ${candidateDetailsDTO.openToRemoteJob} : false"
                                               th:field="*{openToRemoteJob}">
                                        <label class="form-check-label" for="noOpenToRemote">No</label>
                                    </div>
                                </dd>


                                <dt class="col-sm-4">Linkedin link</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{linkedinLink}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Github / Gitlab Link</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{githubLink}"
                                    >
                                </dd>
                                <dt class="col-sm-4">Hobby</dt>
                                <dd class="col-sm-8">
                                    <textarea
                                            type="text"
                                            class="form-control"
                                            rows="2"
                                            th:field="*{hobby}"
                                    ></textarea>
                                </dd>

                                <dt class="col-sm-4">Contact email</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{emailContact}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Phone number</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{phoneNumber}"
                                    >
                                </dd>
                            </dl>
                            <div class="d-flex justify-content-between gap-4">

                                <div th:if="${param.new}">
                                    <button class="btn btn-info m-2" form="editForm" type="submit">Create</button>
                                </div>
                                <div th:unless="${param.new}">
                                    <button class="btn btn-info m-2" form="editForm" type="submit">Update</button>
                                </div>
                                <a class="btn  btn-info m-2" th:href="@{/candidate/profile}">Back To Profile</a>

                            </div>
                        </form>
                        <form
                                action="#"
                                th:action="@{/candidate/delete/{candidateId}(candidateId=${candidateDetailsDTO.candidateId})}"
                                th:method="DELETE"
                                id="deleteProfile"
                        >
                            <button th:unless="${param.new}"
                                    form="deleteProfile" class="btn justify-content-center btn-danger m-2"  type="submit">
                                Delete Profile</button>
                        </form>


                        <!--                        <div class="d-flex justify-content-between gap-4">-->
                        <!--                            <a th:href="@{/candidate/edit_profile}" class="btn  btn-info m-2">Edit Profile</a>-->
                        <!--                            <form-->
                        <!--                                    th:action="@{/candidate/delete/{candidateId}(candidateId=${candidateDetailsDTO.candidateId})}"-->
                        <!--                                    th:method="DELETE"-->

                        <!--                            >-->
                        <!--                                &lt;!&ndash;                                <input type="hidden" name="_method" value="delete" />&ndash;&gt;-->
                        <!--                                <a class="btn btn-info m-2" type="submit">-->
                        <!--                                    Delete Profile</a>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>
<script th:inline="javascript">
    function confirmDelete() {
        return confirm("Confirm to delete your profile");
    }
</script>
</body>

</html>