<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>DevFinder - Candidate - Employers</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->


        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Employers</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Compamy Name</th>
                                    <th scope="col">Website</th>
                                    <th scope="col">Number Of Employees</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Number Of Job Offers</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employer : ${allEmployersDTOs}">
                                    <td th:text="${employer.getLogoFile()}"></td>
                                    <td th:text="${employer.getCompanyName()}"></td>
                                    <td th:text="${employer.getWebsite()}"></td>
                                    <td th:text="${employer.getNumberOfEmployees()}"></td>
                                    <td th:text="${employer.getCityId().getCityName()}"></td>
                                    <td th:text="${employer.getNumberOfAvailableOffers()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>
</body>

</html>