<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Candidate - Offers</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style__}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4"
                            th:text="'Offer nr '+ ${offerDetailsDTO.offerId} + ' Id: '+ ${offerDetailsDTO.offerUuid} + ''"></h6>
                        <dl class="row mb-0">
                            <dt class="col-sm-4">Title</dt>
                            <dd th:text="${offerDetailsDTO.title}" class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.description != null}" class="col-sm-4">Job description</dt>
                            <dd th:if="${offerDetailsDTO.description != null}" th:text="${offerDetailsDTO.description}"
                                class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.experienceLevel != null}" class="col-sm-4">
                                Required level of experience
                            </dt>
                            <dd th:if="${offerDetailsDTO.experienceLevel != null}"
                                th:text="${offerDetailsDTO.experienceLevel}" class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.yearsOfExperience != null}" class="col-sm-4">Years of
                                experience required
                            </dt>
                            <dd th:if="${offerDetailsDTO.yearsOfExperience != null}"
                                th:text="${offerDetailsDTO.yearsOfExperience}" class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.offerSkills != null}" class="col-sm-4">Tech Stack</dt>
                            <dd class="col-sm-8">
                                <div th:each="skill : ${offerDetailsDTO.offerSkills}"
                                     th:text="${skill.skillId.skillName}">
                                </div>
                            </dd>

                            <dt th:if="${offerDetailsDTO.otherSkills != null}" class="col-sm-4">Other Skills</dt>
                            <dd th:if="${offerDetailsDTO.otherSkills != null}" th:text="${offerDetailsDTO.otherSkills}"
                                class="col-sm-8"></dd>

                            <dt class="col-sm-4">Percentage of remote work time</dt>
                            <dd class="col-sm-8"><span th:switch="${offerDetailsDTO.remoteWork}">
                                <span th:case="100">Full Time</span>
                                <span th:case="0">No - Office</span>
                                <span th:case="*">Partly Remote - [[${offerDetailsDTO.remoteWork}]] % of time</span>
                            </span></dd>

                            <dt th:if="${offerDetailsDTO.salaryMin != null && offerDetailsDTO.salaryMax != null}"
                                class="col-sm-4">Salary scale
                            </dt>
                            <dd th:if="${offerDetailsDTO.salaryMin != null && offerDetailsDTO.salaryMax != null}"
                                th:text="${offerDetailsDTO.salaryMin} + ' - ' + ${offerDetailsDTO.salaryMax}"
                                class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.benefits != null}" class="col-sm-4">Benefits</dt>
                            <dd th:if="${offerDetailsDTO.benefits != null}" th:text="${offerDetailsDTO.benefits}"
                                class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.cityId.cityName != null}" class="col-sm-4">City</dt>
                            <dd th:if="${offerDetailsDTO.cityId.cityName != null}"
                                th:text="${offerDetailsDTO.cityId.cityName}" class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.employerId.emailContact != null}" class="col-sm-4">Contact
                                Email
                            </dt>
                            <dd th:if="${offerDetailsDTO.employerId.emailContact != null}"
                                th:text="${offerDetailsDTO.employerId.emailContact}" class="col-sm-8"></dd>

                            <dt th:if="${offerDetailsDTO.employerId.phoneNumber != null}" class="col-sm-4">Phone
                                Number
                            </dt>
                            <dd th:if="${offerDetailsDTO.employerId.phoneNumber != null}"
                                th:text="${offerDetailsDTO.employerId.phoneNumber}" class="col-sm-8"></dd>

                            <dt class="col-sm-4">Company</dt>
                            <dd class="col-sm-8">
                                <dl class="row">
                                    <dt class="col-sm-4">Name</dt>
                                    <dd th:text="${offerDetailsDTO.employerId.companyName}" class="col-sm-8"></dd>
                                    <dt th:if="${offerDetailsDTO.employerId.getLogoFilename != null}" class="col-sm-4">Logo
                                    </dt>
                                    <dd th:if="${offerDetailsDTO.employerId.getLogoFilename != null}"
                                        th:text="${offerDetailsDTO.employerId.getLogoFilename}" class="col-sm-8"></dd>
                                    <dt th:if="${offerDetailsDTO.employerId.website != null}" class="col-sm-4">Website
                                    </dt>
                                    <dd th:if="${offerDetailsDTO.employerId.website != null}"
                                        th:text="${offerDetailsDTO.employerId.website}" class="col-sm-8"></dd>
                                    <dt th:if="${offerDetailsDTO.employerId.numberOfEmployees != null}"
                                        class="col-sm-4">Size
                                    </dt>
                                    <dd th:if="${offerDetailsDTO.employerId.numberOfEmployees != null}"
                                        th:text="${offerDetailsDTO.employerId.numberOfEmployees} + ' employees'"
                                        class="col-sm-8"></dd>
                                    <dt class="col-sm-4">
                                        <a th:href="@{/candidate/employer/{employerId}(employerId=${offerDetailsDTO.employerId.employerId})}">
                                            <button
                                                    class="btn btn-sm btn-primary" type="button">Employer Details
                                            </button>
                                        </a>
                                    </dt>
                                    <dd class="col-sm-8">
                                        <a th:href="@{/candidate/offers?employer={companyName}(companyName=${offerDetailsDTO.employerId.companyName})}">
                                            <button
                                                    class="btn btn-sm btn-primary" type="button">Job offers of this
                                                employer
                                            </button>
                                        </a></dd>

                                </dl>
                            </dd>
                            <dt class="col-sm-4">Job Status</dt>
                            <dd th:text="${offerDetailsDTO.status}" class="col-sm-8"></dd>

                            <dt class="col-sm-4">Created At</dt>
                            <dd th:text="${#temporals.format(offerDetailsDTO.createdAt, 'dd-MM-yyyy')}"
                                class="col-sm-8"></dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js__}"></div>
</body>

</html>