<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>DevFinder - Candidate - Offers</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->


        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Actual Offers</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>

                                    <th scope="col">Title</th>
                                    <th scope="col">Experience Level</th>
                                    <th scope="col">Employer </th>
                                    <th scope="col">City</th>
                                    <th scope="col">Remote Work</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Days Since Created</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="offer : ${allOffersDTOs}">
                                    <td th:text="${offer.getTitle()}"></td>
                                    <td th:text="${offer.getExperienceLevel()}"></td>
                                    <td th:text="${offer.getEmployerId().getCompanyName()}"></td>
                                    <td th:text="${offer.getCityId().getCityName()}"></td>
                                    <td th:text="${offer.getRemoteWorkFormatted()}"></td>
                                    <td th:text="${offer.getSalaryRange()}"></td>
                                    <td th:text="${offer.getDaysSinceCreated()} + ' days ago'"></td>
                                    <td><form
                                            action="#"
                                            th:action="@{candidate/offer/{offerId}(offerId=${offer.getOfferId})}"
                                            class="btn btn-sm btn-primary" method="GET" type="submit">Details</form></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>
</body>

</html>