<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Candidate portal</title>
</head>

<body>
<div class="container">
    <h1>Candidate Portal</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/candidate/profile}" class="btn btn-info" role="button">My Profile</a>
        </div>
        <br>
        <div class="col-md-4">
            <a th:href="@{/candidate/applications}" class="btn btn-info" role="button">Your applications</a>
        </div>
        <br>
        <div class="col-md-4">
            <a th:href="@{/candidate/offers}" class="btn btn-info" role="button">Find an Offers</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/candidate/employers}" class="btn btn-info" role="button">Find an Employer</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/candidate/my_employer}" class="btn btn-info" role="button">My Employer</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/candidate/settings}" class="btn btn-info" role="button">Account settings</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/logout}" class="btn btn-info" role="button">Log out</a>
        </div>

    </div>
    ostatnio przeglądane oferty
    ostatnio dodane oferty

</div>
</body>
</html>