<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Candidate - Profile</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <!--                        <div th:if="${param.not_exist}">-->
                        <!--                            <a th:href="@{/candidate/edit_profile?new}" class="btn  btn-info m-2">Create Profile</a>-->
                        <!--                        </div>-->
                        <div th:if="${param.created}">
                            <div class="alert alert-success">You created your profile</div>
                        </div>
                        <div th:if="${param.updated}">
                            <div class="alert alert-success">You updated your profile</div>
                        </div>
                        <div th:if="${param.delete}">
                            <div class="alert alert-success">You delete your profile</div>
                        </div>
                        <div>

                            <h6 class="mb-4"
                                th:text="'Candidate nr '+ ${candidateDetailsDTO.candidateId} + ' Id: '+ ${candidateDetailsDTO.candidateUuid} + ''"></h6>
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mx-auto mb-4"
                                     style="width: 100px; height: 100px;"
                                     th:src="@{${photoDir}}">
                            </div>

                            <dl class="row mb-0">

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.status != null}">Status</dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.status != null}"
                                    th:text="${candidateDetailsDTO.status}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.employerId != null}">Employer</dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.employerId != null}">
                                    [[${candidateDetailsDTO.employerId.companyName}]]
                                    <a class="btn btn-sm btn-primary"
                                       th:href="@{/employer/{employerId}(employerId=${candidateDetailsDTO.employerId.employerId})}"
                                       th:if="${candidateDetailsDTO.employerId.companyName != null}" type="button">Employer Details
                                    </a>
                                </dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.firstName != null}">First name</dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.firstName != null}" th:text="${candidateDetailsDTO.firstName}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.lastName != null}">Last name</dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.lastName != null}" th:text="${candidateDetailsDTO.lastName}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.residenceCityId.cityName != null}">
                                    Residence City
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.residenceCityId.cityName != null}" th:text="${candidateDetailsDTO.residenceCityId.cityName}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.experienceLevel != null}">Experience
                                    level
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.experienceLevel != null}" th:text="${candidateDetailsDTO.experienceLevel}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.yearsOfExperience != null}">Years of
                                    experience
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.yearsOfExperience != null}" th:text="${candidateDetailsDTO.yearsOfExperience}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.candidateSkills != null}">Tech Stack
                                </dt>
                                <dd class="col-sm-8">
                                    <div th:each="skill : ${candidateDetailsDTO.candidateSkills}"
                                         th:text="${skill.skillId.skillName}">
                                    </div>
                                </dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.otherSkills != null}">Other Skills
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.otherSkills != null}"
                                    th:text="${candidateDetailsDTO.otherSkills}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.education != null}">Education</dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.education != null}"
                                    th:text="${candidateDetailsDTO.education}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.foreignLanguage != null}">Foreign
                                    Language
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.foreignLanguage != null}"
                                    th:text="${candidateDetailsDTO.foreignLanguage}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.salaryMin != null}">Minimum expected
                                    payout
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.salaryMin != null}"
                                    th:text="${candidateDetailsDTO.salaryMin}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.openToRemoteJob != null}">Open to
                                    remote
                                    job
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.openToRemoteJob != null}"><span th:if="${candidateDetailsDTO.openToRemoteJob != null}"
                                                           th:switch="${candidateDetailsDTO.openToRemoteJob}">
                                <span th:case="true">Yes</span>
                                <span th:case="false">No</span>
                            </span></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.getCvFilename != null}">Show CV File
                                    as PDF
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.getCvFilename != null}">
                                    <a th:href="@{${downloadCvFilePath}}"
                                       th:if="${candidateDetailsDTO.getCvFilename != null}"
                                       th:text="${candidateDetailsDTO.getCvFilename}">
                                    </a>
                                </dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.linkedinLink != null}">linkedin Link
                                </dt>
                                <dd class="col-sm-8">
                                    <a th:href="${candidateDetailsDTO.linkedinLink}"
                                       th:if="${candidateDetailsDTO.linkedinLink != null}"
                                       th:text="${candidateDetailsDTO.linkedinLink}"></a>
                                </dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.githubLink != null}">Github / Gitlab
                                    Link
                                </dt>
                                <dd class="col-sm-8">
                                    <a th:href="${candidateDetailsDTO.githubLink}"
                                       th:if="${candidateDetailsDTO.githubLink != null}"
                                       th:text="${candidateDetailsDTO.githubLink}">
                                    </a>
                                </dd>
                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.hobby != null}">Hobby</dt>
                                <dd class="col-sm-8" th:if="${candidateDetailsDTO.hobby != null}"
                                    th:text="${candidateDetailsDTO.hobby}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.emailContact != null}">Contact email
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.emailContact != null}"
                                    th:text="${candidateDetailsDTO.emailContact}"></dd>

                                <dt class="col-sm-4" th:if="${candidateDetailsDTO.phoneNumber != null}">Phone number
                                </dt>
                                <dd class="col-sm-8"
                                    th:if="${candidateDetailsDTO.phoneNumber != null}"
                                    th:text="${candidateDetailsDTO.phoneNumber}"></dd>

                                <dt class="col-sm-4">Profil created at</dt>
                                <dd class="col-sm-8"
                                    th:text="${#temporals.format(candidateDetailsDTO.createdAt, 'dd-MM-yyyy')}"></dd>
                            </dl>
                            <a class="btn  btn-info m-2" th:href="@{/candidate_portal/edit_profile}">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>

</body>

</html>