devfinder-conf:
  enable-email-verification: false

server:
  port: 8190
  servlet:
    context-path: /devfinder

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/devfinder
    username: postgres
    password: postgres
    hikari:
      idle-timeout: 10000
      connectionTimeout: 20000
      minimumIdle: 10
      maximumPoolSize: 20
    jpa:
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
    mvc:
      hiddenmethod:
        filter:
          enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: devfinder.service@gmail.com
    password: obdlgpawihrjmpez
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true