devfinder-conf:
  enable-email-verification: false
  user-data-path : "src/main/resources/static/user_data/"

server:
  port: 8190
  servlet:
    context-path: /devfinder
#log4j:
#  logger:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type: TRACE
spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
#    properties:
#      show_sql: true              # show SQL with Slf4j
#      hibernate.format_sql: true  # show SQL pretty
  security:
    enabled: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/devfinder
    username: postgres
    password: postgres
    hikari:
      idle-timeout: 10000
      connectionTimeout: 20000
      minimumIdle: 10
      maximumPoolSize: 20
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: devfinder.service@gmail.com
    password: obdlgpawihrjmpez
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB



