<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>DevFinder - Employer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
         id="spinner">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a class="navbar-brand mx-4 mb-3" th:href="@{/}">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DevFinder</h3>
            </a>
            <div class="navbar-nav w-100">
                <a class="nav-item nav-link" th:href="@{/employer_portal/candidates}"><i class="fa fa-th me-2"></i>Find
                    a candidate</a>
                <a class="nav-item nav-link" th:href="@{/employer_portal/post_job}"><i class="fa fa-th me-2"></i>Post a
                    job</a>
                <a class="nav-item nav-link" th:href="@{/employer_portal/my_posted_offers}"><i
                        class="fa fa-chart-bar me-2"></i>My Posted Offers</a>
                <a class="nav-item nav-link" th:href="@{/employer_portal/employee}"><i
                        class="fa-regular fa-address-card me-2"></i>My Employee</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a class="navbar-brand d-flex d-lg-none me-4" th:href="@{/}">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a class="sidebar-toggler flex-shrink-0" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <!--                <form class="d-none d-md-flex ms-4">-->
            <!--                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">-->
            <!--                </form>-->
            <div class="navbar-nav align-items-center ms-auto">


                <!--                    <div class="nav-item dropdown">-->
                <!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
                <!--                            <i class="fa fa-envelope me-lg-2"></i>-->
                <!--                            <span class="d-none d-lg-inline-flex">Message</span>-->
                <!--                        </a>-->
                <!--                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <div class="d-flex align-items-center">-->
                <!--                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
                <!--                                    <div class="ms-2">-->
                <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
                <!--                                        <small>15 minutes ago</small>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <div class="d-flex align-items-center">-->
                <!--                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
                <!--                                    <div class="ms-2">-->
                <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
                <!--                                        <small>15 minutes ago</small>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <div class="d-flex align-items-center">-->
                <!--                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
                <!--                                    <div class="ms-2">-->
                <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
                <!--                                        <small>15 minutes ago</small>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item text-center">See all message</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="nav-item dropdown">-->
                <!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
                <!--                            <i class="fa fa-bell me-lg-2"></i>-->
                <!--                            <span class="d-none d-lg-inline-flex">Notificatin</span>-->
                <!--                        </a>-->
                <!--                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <h6 class="fw-normal mb-0">Profile updated</h6>-->
                <!--                                <small>15 minutes ago</small>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <h6 class="fw-normal mb-0">New user added</h6>-->
                <!--                                <small>15 minutes ago</small>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item">-->
                <!--                                <h6 class="fw-normal mb-0">Password changed</h6>-->
                <!--                                <small>15 minutes ago</small>-->
                <!--                            </a>-->
                <!--                            <hr class="dropdown-divider">-->
                <!--                            <a href="#" class="dropdown-item text-center">See all notifications</a>-->
                <!--                        </div>-->
                <!--                    </div>-->

                <!--  USER NAV MENU - IF IS AUTHENTICATED  -->
                <div class="nav-item dropdown" sec:authorize="${isAuthenticated()}">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <img alt="user_picture" class="rounded-circle me-lg-2" src="img/user.jpg"
                             style="width: 40px; height: 40px;">

                        <!--                            Hi <span sec:authentication="name"></span></div>-->
                        <span th:text="${#authentication.name}"></span>
                        <!--                        <span class="d-none d-lg-inline-flex">John Doe</span>-->
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a class="dropdown-item" th:href="@{/user/my_profile}">Company Profile</a>
                        <a class="dropdown-item" th:href="@{/user/settings}">Account Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                    </div>
                </div>
                <!--  USER NAV MENU - IF IS NOT AUTHENTICATED  -->
                <a class="nav-item nav-link" sec:authorize="${!isAuthenticated()}" th:href="@{/login}"><i
                        class="fa fa-laptop me-2"></i></span>Login</a>
                <a class="nav-item nav-link" sec:authorize="${!isAuthenticated()}" th:href="@{/register/register_page}"><i
                        class="fa fa-laptop me-2"></i>Register</a>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6 text-center">
                    <h3>Log in for more content</h3>
                </div>
            </div>
        </div>
        <!-- Blank End -->


        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a th:href="@{/}">DevFinder</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>