<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Employer - Edit Offer</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <div th:replace="~{fragments :: head_style__}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">

                        <form
                                id="editForm"
                                th:action="@{/offers_of_employer/update}"
                                th:method="PUT"
                                th:object="${offerDetailsDTO}"
                        >
                            <input name="offerId" th:value="${offerDetailsDTO.offerId}" type="hidden"/>
                            <dl class="row mb-0">

                                <dt class="col-sm-4">Status</dt>
                                <dd class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               id="statusActive"
                                               th:checked="${offerDetailsDTO.status != null} ? ${offerDetailsDTO.status} : true"
                                               th:field="*{status}"
                                               th:value="${statusEnumActive}"
                                               type="radio">
                                        <label class="form-check-label" for="statusActive"
                                               th:text="${statusEnumActive}"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               id="statusExpired"
                                               th:checked="${offerDetailsDTO.status != null} ? ${offerDetailsDTO.status} : false"
                                               th:field="*{status}"
                                               th:value="${statusEnumExpired}"
                                               type="radio">
                                        <label class="form-check-label" for="statusExpired"
                                               th:text="${statusEnumExpired}"></label>
                                    </div>
                                </dd>


                                <dt class="col-sm-4">Title</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            required
                                            th:field="*{title}"
                                            type="text"
                                    >
                                </dd>

                                <dt class="col-sm-4">Job description</dt>
                                <dd class="col-sm-8">
                                    <textarea
                                            class="form-control"
                                            rows="4"
                                            th:field="*{description}"
                                            type="text"
                                    ></textarea>
                                </dd>

                                <dt class="col-sm-4">Required level of experience</dt>
                                <dd class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               id="expJunior"
                                               th:checked="${offerDetailsDTO.experienceLevel != null} ? ${offerDetailsDTO.experienceLevel} : true"
                                               th:field="*{experienceLevel}"
                                               th:value="${expLevelEnumJunior}"
                                               type="radio">
                                        <label class="form-check-label" for="expJunior"
                                               th:text="${expLevelEnumJunior}"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               id="expMid"
                                               th:checked="${offerDetailsDTO.experienceLevel != null} ? ${offerDetailsDTO.experienceLevel} : false"
                                               th:field="*{experienceLevel}"
                                               th:value="${expLevelEnumMid}"
                                               type="radio">
                                        <label class="form-check-label" for="expMid"
                                               th:text="${expLevelEnumMid}"></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input"
                                               id="expSenior"
                                               th:checked="${offerDetailsDTO.experienceLevel != null} ? ${offerDetailsDTO.experienceLevel} : false"
                                               th:field="*{experienceLevel}"
                                               th:value="${expLevelEnumSenior}"
                                               type="radio">
                                        <label class="form-check-label" for="expSenior"
                                               th:text="${expLevelEnumSenior}"></label>
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Years of experience required</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            th:field="*{yearsOfExperience}"
                                            type="number"
                                    >
                                </dd>

                                <dt class="col-sm-4">Tech Stack</dt>
                                <dd class="col-sm-8">
                                    <div class="m-n2">
                                        <span th:each="skill : ${allSkillsDTOs}">
                                            <input autocomplete="on"
                                                   class="btn-check"
                                                   th:checked="${offerDetailsDTO.offerSkills != null} ? ${skillChecked.contains(skill.skillName)} : false"
                                                   th:id="${skill.skillId}"
                                                   th:name="offerSkillsNames"
                                                   th:value="${skill.skillName}"
                                                   type="checkbox">
                                            <label class="btn btn-outline-light m-2"
                                                   th:for="${skill.skillId}"
                                                   th:text="${skill.skillName}"
                                                   type="checkbox"
                                            ></label>
                                        </span>
                                    </div>
                                </dd>

                                <dt class="col-sm-4">Other Skills</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            th:field="*{otherSkills}"
                                            type="text"
                                    >
                                </dd>

                                <dt class="col-sm-4">Percentage of remote work time (0-100)</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            max="100"
                                            min="0"
                                            required
                                            step="1"
                                            th:field="*{remoteWork}"
                                            type="number"
                                    >
                                </dd>

                                <dt class="col-sm-4">Minimum payout</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            th:field="*{salaryMin}"
                                            type="number"
                                    >
                                </dd>

                                <dt class="col-sm-4">Maximum payout</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            min="0"
                                            step="1"
                                            th:field="*{salaryMax}"
                                            type="number"
                                    >
                                </dd>

                                <dt class="col-sm-4">Benefits</dt>
                                <dd class="col-sm-8">
                                    <textarea
                                            class="form-control"
                                            rows="4"
                                            th:field="*{benefits}"
                                            type="text"
                                    ></textarea>
                                </dd>

                                <dt class="col-sm-4">City</dt>
                                <dd class="col-sm-8">
                                    <input
                                            class="form-control"
                                            th:if="${offerDetailsDTO.cityId != null}"
                                            th:name="cityName"
                                            th:value="${offerDetailsDTO.cityId.cityName}"
                                            type="text"
                                    >
                                    <input
                                            class="form-control"
                                            th:field="*{cityName}"
                                            th:if="${offerDetailsDTO.cityId == null}"
                                            th:name="cityName"
                                            type="text"
                                    >
                                </dd>
                            </dl>
                            <div class="d-flex justify-content-between gap-4">
                                <div>
                                    <button class="btn btn-info m-2" form="editForm" type="submit">Update</button>
                                </div>
                                <a class="btn  btn-info m-2"
                                   th:href="@{/offers_of_employer/offer/{offerId}(offerId=${offerDetailsDTO.offerId})}">
                                    Back To Offer</a>
                            </div>
                        </form>
                        <form
                                action="#"
                                id="deleteOffer"
                                onsubmit="return confirm('Do you really want to delete offer?');"
                                th:action="@{/offers_of_employer/delete/{offerId}(offerId=${offerDetailsDTO.offerId})}"
                                th:method="DELETE"
                        >
                            <button
                                    class="btn justify-content-center btn-danger m-2" form="deleteOffer"
                                    type="submit">
                                Delete Offer
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js__}"></div>

</body>

</html>