<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Employer - Edit Profile</title>
    <link th:href="@{/img/favicon.ico}" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">

                        <div th:if="${param.delete_logo_file}">
                            <div class="alert alert-success">You deleted logo file</div>
                        </div>
                        <div th:if="${param.first_create_profile}">
                            <div class="alert alert-primary">Before create offer, you should fill up your profile</div>
                        </div>
                        <div th:if="${param.delete}">
                            <div class="alert alert-success">You deleted your profile</div>
                        </div>
                        <div th:if="${param.new} or ${param.first_create_profile} or ${param.delete}">
                            <h3 class="mb-4">You don't have profile page. Fill out your profile</h3>
                        </div>
                        <div th:unless="${param.new} or ${param.first_create_profile} or ${param.delete}">
                            <h3 class="mb-4">Edit Your Profile</h3>
                        </div>

                        <!--                        LOGO  -->
                        <form action="#"
                              th:action="@{/employer_portal/edit_profile/delete_logoFile}"
                              th:method="DELETE"
                              id="cvFileForm">
                            <dl class="row mb-0" th:if="${logoFileLink != null}">
                                <dt class="col-sm-4">Actual logo:</dt>
                                <dd class="col-sm-8">
                                    [[${logoFileLink}]]
                                    <button type="submit" form="cvFileForm" class="btn  btn-info m-2">Delete
                                    </button>
                                </dd>
                            </dl>
                        </form>
                        <form
                                th:action="@{/employer_portal/update}"
                                th:method="POST"
                                th:object="${employerDetailsDTO}"
                                enctype="multipart/form-data"
                                id="editForm"
                        >
                            <dl class="row mb-0">

                                <dt class="col-sm-4">Upload logo</dt>
                                <dd class="col-sm-8">
                                    <div class="mb-3">
                                        <input class="form-control bg-dark"
                                               th:field="*{fileLogo}"
                                               accept="image/png, image/jpeg"
                                               type="file"
                                               id="photoFile">
                                    </div>
                                </dd>


                                <dt class="col-sm-4">Company Name</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{companyName}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Employer description</dt>
                                <dd class="col-sm-8">
                                    <textarea
                                            type="text"
                                            class="form-control"
                                            rows="4"
                                            th:field="*{description}"
                                    ></textarea>
                                </dd>

                                <dt class="col-sm-4">Website</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{website}"
                                    >
                                </dd>

                                <dt class="col-sm-4">Number Of Employees</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="number"
                                            class="form-control"
                                            th:field="*{numberOfEmployees}"
                                            min="0"
                                            step="1"
                                    >
                                </dd>

                                <dt class="col-sm-4">Email Contact</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{emailContact}"
                                    >
                                </dd>

                                <dt class="col-sm-4">City</dt>
                                <dd class="col-sm-8">
                                    <input
                                            th:if="${employerDetailsDTO.cityId != null}"
                                            type="text"
                                            class="form-control"
                                            th:name="cityName"
                                            th:value="${employerDetailsDTO.cityId.cityName}"
                                    >
                                    <input
                                            th:if="${employerDetailsDTO.cityId == null}"
                                            type="text"
                                            class="form-control"
                                            th:name="cityName"
                                            th:field="*{cityName}"
                                    >
                                </dd>


                                <dt class="col-sm-4">Phone number</dt>
                                <dd class="col-sm-8">
                                    <input
                                            type="text"
                                            class="form-control"
                                            th:field="*{phoneNumber}"
                                    >
                                </dd>
                            </dl>
                            <div class="d-flex justify-content-between gap-4">

                                <div th:if="${param.new}">
                                    <button class="btn btn-info m-2" form="editForm" type="submit">Create</button>
                                </div>
                                <div th:unless="${param.new}">
                                    <button class="btn btn-info m-2" form="editForm" type="submit">Update</button>
                                </div>
                                <a class="btn  btn-info m-2" th:href="@{/employer_portal/profile}">Back To Profile</a>

                            </div>
                        </form>
                        <form
                                action="#"
                                th:action="@{/employer_portal/delete_profile}"
                                th:method="DELETE"
                                id="deleteProfile"
                                onsubmit="return confirm('Do you really want delete your profile? All your offer and employee will be deleted and all your employee will be change status to ACTIVE');"
                        >
                            <button th:unless="${param.new}"
                                    form="deleteProfile" class="btn justify-content-center btn-danger m-2"
                                    type="submit">
                                Delete Profile
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>

</body>

</html>