<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Offer Details of Employer</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style__}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4"
                            th:text="'Offer nr '+ ${offerDetailsDTO.offerId} + ' Id: '+ ${offerDetailsDTO.offerUuid} + ''"></h6>
                        <dl class="row mb-0">
                            <dt class="col-sm-4">Title</dt>
                            <dd class="col-sm-8" th:text="${offerDetailsDTO.title}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.description != null}">Job description</dt>
                            <dd class="col-sm-8" th:if="${offerDetailsDTO.description != null}"
                                th:text="${offerDetailsDTO.description}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.experienceLevel != null}">
                                Required level of experience
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.experienceLevel != null}" th:text="${offerDetailsDTO.experienceLevel}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.yearsOfExperience != null}">Years of
                                experience required
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.yearsOfExperience != null}" th:text="${offerDetailsDTO.yearsOfExperience}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.offerSkills != null}">Tech Stack</dt>
                            <dd class="col-sm-8">
                                <div th:each="skill : ${offerDetailsDTO.offerSkills}"
                                     th:text="${skill.skillId.skillName}">
                                </div>
                            </dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.otherSkills != null}">Other Skills</dt>
                            <dd class="col-sm-8" th:if="${offerDetailsDTO.otherSkills != null}"
                                th:text="${offerDetailsDTO.otherSkills}"></dd>

                            <dt class="col-sm-4">Percentage of remote work time</dt>
                            <dd class="col-sm-8"><span th:switch="${offerDetailsDTO.remoteWork}">
                                <span th:case="100">Full Time</span>
                                <span th:case="0">No - Office</span>
                                <span th:case="*">Partly Remote - [[${offerDetailsDTO.remoteWork}]] % of time</span>
                            </span></dd>

                            <dt class="col-sm-4"
                                th:if="${offerDetailsDTO.salaryMin != null && offerDetailsDTO.salaryMax != null}">Salary scale
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.salaryMin != null && offerDetailsDTO.salaryMax != null}"
                                th:text="${offerDetailsDTO.salaryMin} + ' - ' + ${offerDetailsDTO.salaryMax}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.benefits != null}">Benefits</dt>
                            <dd class="col-sm-8" th:if="${offerDetailsDTO.benefits != null}"
                                th:text="${offerDetailsDTO.benefits}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.cityId.cityName != null}">City</dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.cityId.cityName != null}" th:text="${offerDetailsDTO.cityId.cityName}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.employerId.emailContact != null}">Contact
                                Email
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.employerId.emailContact != null}" th:text="${offerDetailsDTO.employerId.emailContact}"></dd>

                            <dt class="col-sm-4" th:if="${offerDetailsDTO.employerId.phoneNumber != null}">Phone
                                Number
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${offerDetailsDTO.employerId.phoneNumber != null}" th:text="${offerDetailsDTO.employerId.phoneNumber}"></dd>

                            <dt class="col-sm-4">Company</dt>
                            <dd class="col-sm-8">
                                <dl class="row">
                                    <dt class="col-sm-4">Name</dt>
                                    <dd class="col-sm-8" th:text="${offerDetailsDTO.employerId.companyName}"></dd>
                                    <dt class="col-sm-4" th:if="${offerDetailsDTO.employerId.getLogoFilename != null}">
                                        Logo
                                    </dt>
                                    <dd class="col-sm-8"
                                        th:if="${offerDetailsDTO.employerId.getLogoFilename != null}" th:text="${offerDetailsDTO.employerId.getLogoFilename}"></dd>
                                    <dt class="col-sm-4" th:if="${offerDetailsDTO.employerId.website != null}">Website
                                    </dt>
                                    <dd class="col-sm-8"
                                        th:if="${offerDetailsDTO.employerId.website != null}" th:text="${offerDetailsDTO.employerId.website}"></dd>
                                    <dt class="col-sm-4"
                                        th:if="${offerDetailsDTO.employerId.numberOfEmployees != null}">Size
                                    </dt>
                                    <dd class="col-sm-8"
                                        th:if="${offerDetailsDTO.employerId.numberOfEmployees != null}"
                                        th:text="${offerDetailsDTO.employerId.numberOfEmployees} + ' employees'"></dd>
                                    <dt class="col-sm-4">
                                        <!--                                        <a th:href="@{/employer_portal/{employerId}(employerId=${offerDetailsDTO.employerId.employerId})}">-->
                                        <!--                                            <button-->
                                        <!--                                                    class="btn btn-sm btn-primary" type="button">Employer Details-->
                                        <!--                                            </button>-->
                                        <!--                                        </a>-->
                                    </dt>
                                    <dd class="col-sm-8">
                                        <!--                                        <a th:href="@{/offers?employer={companyName}(companyName=${offerDetailsDTO.employerId.companyName})}">-->
                                        <!--                                            <button-->
                                        <!--                                                    class="btn btn-sm btn-primary" type="button">Job offers of this-->
                                        <!--                                                employer-->
                                        <!--                                            </button>-->
                                        <!--                                        </a>-->
                                    </dd>
                                </dl>
                            </dd>
                            <dt class="col-sm-4">Job Status</dt>
                            <dd class="col-sm-8" th:text="${offerDetailsDTO.status}"></dd>

                            <dt class="col-sm-4">Created At</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(offerDetailsDTO.createdAt, 'dd-MM-yyyy')}"></dd>

                        </dl>
                        <div class="d-flex justify-content-between gap-4">
                            <a class="btn  btn-info m-2"
                               th:href="@{/offers_of_employer/edit/{offerId}(offerId=${offerDetailsDTO.offerId})}">Edit Offer</a>

                            <a class="btn  btn-info m-2" th:href="@{/offers_of_employer/offers}">Back To Offer List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js__}"></div>
</body>

</html>