<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Candidates</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style}"></div>

</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->


        <!-- Content Side Start -->
        <form
                action="#"
                method="GET"
                th:object="${candidateSearchCriteria}"
        >
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <!--                START FILTER-->
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item bg-transparent">

                                    <h2 class="accordion-header" id="headingTwo">
                                        <button aria-controls="collapseTwo" aria-expanded="false"
                                                class="accordion-button collapsed" data-bs-target="#collapseTwo"
                                                data-bs-toggle="collapse" type="button">
                                            <i class="fa fa-filter me-2"></i> Filters
                                        </button>
                                    </h2>
                                    <div aria-labelledby="headingTwo" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample" id="collapseTwo">
                                        <div class="accordion-body">
                                            <div class="mb-4">
                                                <h6 class="mb-3">Candidate State</h6>
                                                <div class="btn-group mb3" role="group">
                                                    <input autocomplete="on" class="btn-check" id="statusActive"
                                                           th:checked="${statusChecked.contains(statusEnumActive)}"
                                                           th:name="status"
                                                           th:value="${statusEnumActive}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="statusActive">[[${statusEnumActive}]]</label>
                                                    <input autocomplete="on" class="btn-check" id="statusInactive"
                                                           th:checked="${statusChecked.contains(statusEnumInactive)}"
                                                           th:name="status"
                                                           th:value="${statusEnumInactive}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="statusInactive">[[${statusEnumInactive}]]</label>
                                                    <input autocomplete="on" class="btn-check" id="statusEmployed"
                                                           th:checked="${statusChecked.contains(statusEnumEmployed)}"
                                                           th:name="status"
                                                           th:value="${statusEnumEmployed}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="statusEmployed">[[${statusEnumEmployed}]]</label>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h6 class="mb-3">Experience Level</h6>
                                                <div class="btn-group mb3" role="group">
                                                    <input autocomplete="on" class="btn-check" id="expJunior"
                                                           th:checked="${experienceLevelChecked.contains(expLevelEnumJunior)}"
                                                           th:name="experienceLevels"
                                                           th:value="${expLevelEnumJunior}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="expJunior">[[${expLevelEnumJunior}]]</label>
                                                    <input autocomplete="on" class="btn-check" id="expMid"
                                                           th:checked="${experienceLevelChecked.contains(expLevelEnumMid)}"
                                                           th:name="experienceLevels"
                                                           th:value="${expLevelEnumMid}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="expMid">[[${expLevelEnumMid}]]</label>
                                                    <input autocomplete="on" class="btn-check" id="expSenior"
                                                           th:checked="${experienceLevelChecked.contains(expLevelEnumSenior)}"
                                                           th:name="experienceLevels"
                                                           th:value="${expLevelEnumSenior}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="expSenior">[[${expLevelEnumSenior}]]</label>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h6 class="mb-3">Tech Stack (you can choose many)</h6>
                                                <div class="m-n2">
                                                    <span th:each="skill : ${allSkillsDTOs}">
                                                        <input autocomplete="on"
                                                               class="btn-check"
                                                               th:checked="${skillChecked.contains(skill.skillName)}"
                                                               th:id="${skill.skillId}"
                                                               th:name="skills"
                                                               th:value="${skill.skillName}"
                                                               type="checkbox">
                                                        <label class="btn btn-outline-light m-2"
                                                               th:for="${skill.skillId}"
                                                               th:text="${skill.skillName}"
                                                               type="checkbox"
                                                        ></label>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h6 class="mb-3">Minimum Years of Experience</h6>
                                                <select class="form-select select2 mb-3"
                                                        th:field="*{minYearsOfExperience}">
                                                    <option th:selected="${minYearsOfExperienceChecked == null}"
                                                            th:value="${null}"
                                                    > Irrevelant
                                                    </option>
                                                    <option th:each="years: ${#numbers.sequence(1, 10)}"
                                                            th:selected="${minYearsOfExperienceChecked == years}"
                                                            th:text="${years}"
                                                            th:value="${years}"
                                                    >
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-4">
                                                <h6 class="mb-3">City</h6>
                                                <select class="form-select select2 mb-3" th:field="*{city}">
                                                    <option th:selected="${cityChecked == null}"
                                                            th:value="${null}"
                                                    >All City's
                                                    </option>
                                                    <option th:each="city : ${allCityDTOs}"
                                                            th:selected="${cityChecked == city}"
                                                            th:text="${city.cityName}"
                                                            th:value="${city.cityName}"
                                                    >
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-4">
                                                <h6 class="mb-3">Open To Remote Work</h6>
                                                <div class="btn-group" role="group">
                                                    <input autocomplete="on" class="btn-check" id="remoteWorkYes"
                                                           th:checked="${openToRemoteJobChecked.contains(remoteEnumYes)}"
                                                           th:name="openToRemoteJob"
                                                           th:value="${remoteEnumYes}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="remoteWorkYes">Yes</label>
                                                    <input autocomplete="on" class="btn-check" id="remoteWorkNo"
                                                           th:checked="${openToRemoteJobChecked.contains(remoteEnumNo)}"
                                                           th:name="openToRemoteJob"
                                                           th:value="${remoteEnumNo}"
                                                           type="checkbox">
                                                    <label class="btn btn-outline-light" for="remoteWorkNo">No</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xl-6 mb-3">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control"
                                                           id="salaryMax"
                                                           placeholder="0"
                                                           th:field="*{salaryMax}"
                                                           type="number">
                                                    <label for="salaryMax">Maximum payout
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between gap-4">
                                                <button class="btn btn-info w-50 m-2"
                                                        th:onclick="'setPageNumber(' + 1 + ')'"
                                                        type="submit">Search
                                                </button>
                                                <a class="btn btn-block btn-info w-50 m-2"
                                                   th:href="@{/candidates}" type="button">Reset
                                                    Filters</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    END FILTERS-->

                    <!--            TABLE-->
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">

                            <!--                            START PAGE SIZE BAR-->
                            <div class="btn-toolbar justify-content-between mb-3">
                                <input th:name="pageSize" th:value="${candidateSearchCriteria.pageSize}"
                                       type="hidden"/>
                                <div><h6 class="mb-4">Available Candidates (found: [[${totalItems}]])</h6></div>
                                <span class="btn-group" role="group">
                                    <button th:class="${candidateSearchCriteria.pageSize == 5}
                                            ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-outline-primary'"
                                            th:onclick="'setPageSize(5)'"
                                            type="submit"
                                    >5</button>
                                    <button th:class="${candidateSearchCriteria.pageSize == 10}
                                            ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-outline-primary'"
                                            th:onclick="'setPageSize(10)'"
                                            type="submit"
                                    >10</button>
                                    <button th:class="${candidateSearchCriteria.pageSize == 50}
                                            ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-outline-primary'"
                                            th:onclick="'setPageSize(50)'"
                                            type="submit"
                                    >50</button>
                                </span>
                            </div>
                            <!--                            END PAGE SIZE BAR-->
                            <!--                        START PAGINATION BAR-->
                            <div class="btn-toolbar justify-content-between" role="toolbar" th:if="${totalPages > 1}">
                                <input th:name="pageNumber" th:value="${candidateSearchCriteria.pageNumber}"
                                       type="hidden"/>
                                <a onclick="decreasePageNumber()" th:if="${candidateSearchCriteria.pageNumber > 1}">
                                    <button class="btn btn-outline-primary ml-3" type="submit">Previous</button>
                                </a>
                                <button class="btn btn-outline-link ml-3"
                                        th:unless="${candidateSearchCriteria.pageNumber > 1}" type="button">
                                    Previous
                                </button>
                                <div class="btn-group me-2 " role="group">
                                    <span th:each="page: ${#numbers.sequence(1, totalPages)}">
                                        <a th:if="${candidateSearchCriteria.pageNumber != page}">
                                            <button th:class="${candidateSearchCriteria.pageNumber != page} ? 'btn btn-secondary' : ''"
                                                    th:onclick="'setPageNumber(' + ${page} + ')'"
                                                    type="submit"
                                            >[[${page}]]</button></a>
                                            <span th:if="${candidateSearchCriteria.pageNumber == page}"><button
                                                    class="btn btn-primary" type="button">[[${page}]]</button></span>
                                    </span>
                                </div>
                                <a onclick="increasePageNumber()"
                                   th:if="${candidateSearchCriteria.pageNumber < totalPages}">
                                    <button class="btn btn-outline-primary ml-3" type="submit">Next</button>
                                </a>
                                <button class="btn btn-outline-link ml-3"
                                        th:unless="${candidateSearchCriteria.pageNumber < totalPages}"
                                        type="button">Next
                                </button>
                            </div>
                            <!--                        END PAGINATION BAR-->
                            <div class="mt-4">Click on a column head to sort. Click again to change the sorting
                                direction
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <input name="sortBy" th:value="${candidateSearchCriteria.sortBy}" type="hidden"/>
                                    <input name="sortDirection" th:value="${candidateSearchCriteria.sortDirection}"
                                           type="hidden"/>
                                    <tr>
                                        <th scope="col"><a href="#" onclick="setSortParams('lastName')">
                                            <div><i
                                                    th:class="${candidateSearchCriteria.sortDirection.name() == 'ASC'}
                                                ? 'fas fa-sort-amount-up-alt text-white' : 'fas fa-sort-amount-down-alt text-white'"
                                                    th:if="${sortBy == 'lastName'}"></i>
                                            </div>
                                            Name</a>

                                        </th>
                                        <th scope="col"><a href="#" onclick="setSortParams('experienceLevel')">
                                            <div><i
                                                    th:class="${candidateSearchCriteria.sortDirection.name() == 'ASC'}
                                                ? 'fas fa-sort-amount-up-alt text-white' : 'fas fa-sort-amount-down-alt text-white'"
                                                    th:if="${sortBy == 'experienceLevel'}"></i>
                                            </div>
                                            Exp.
                                            Level</a>
                                        </th>
                                        <th scope="col"><a href="#" onclick="setSortParams('yearsOfExperience')">
                                            <div><i
                                                    th:class="${candidateSearchCriteria.sortDirection.name() == 'ASC'}
                                                ? 'fas fa-sort-amount-up-alt text-white' : 'fas fa-sort-amount-down-alt text-white'"
                                                    th:if="${sortBy == 'yearsOfExperience'}"></i>
                                            </div>
                                            Years Of Exp.</a>
                                        </th>

                                        <th scope="col">Tech Stack</th>

                                        <th scope="col"><a href="#" onclick="setSortParams('residenceCityId.cityName')">
                                            <div><i
                                                    th:class="${candidateSearchCriteria.sortDirection.name() == 'ASC'}
                                                ? 'fas fa-sort-amount-up-alt text-white' : 'fas fa-sort-amount-down-alt text-white'"
                                                    th:if="${sortBy == 'residenceCityId.cityName'}"></i>
                                            </div>
                                            Residence City</a>
                                        </th>
                                        <th scope="col"><a href="#" onclick="setSortParams('salaryMin')">
                                            <div><i
                                                    th:class="${candidateSearchCriteria.sortDirection.name() == 'ASC'}
                                                ? 'fas fa-sort-amount-up-alt text-white' : 'fas fa-sort-amount-down-alt text-white'"
                                                    th:if="${sortBy == 'salaryMin'}"></i>
                                            </div>
                                            Min expected payout</a>
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:class="${candidate.status != 'ACTIVE'} ? 'text-dark' : ''"
                                        th:each="candidate : ${allCandidatesDTOs}">
                                        <td th:text="${candidate.getFirstName() + ' ' + {candidate.getLastName()}}"></td>
                                        <td th:text="${candidate.getExperienceLevel()}"></td>
                                        <td th:text="${candidate.getYearsOfExperience()}"></td>
                                        <td>
                                            <span th:each="skill : ${candidate.getCandidateSkills()}">
                                                <span th:text="${skill.getSkillId().getSkillName()}"></span>
                                                <br/>
                                            </span>
                                        </td>
                                        <td th:text="${candidate.getResidenceCityId().getCityName()}"></td>
                                        <td th:text="${candidate.getSalaryMin()}"></td>
                                        <td>
                                            <a th:href="@{candidate/{candidateId}(candidateId=${candidate.getCandidateId})}">
                                                <button class="btn btn-info m-2" type="button">Details</button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Content Side End -->

        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>
<div th:replace="~{fragments :: js}"></div>
<script th:inline="javascript">
    function decreasePageNumber() {
        var pageNumberInput = document.getElementsByName('pageNumber')[0];
        pageNumberInput.value = parseInt(pageNumberInput.value) - 1;
    }

    function setPageNumber(page) {
        var pageNumberInput = document.getElementsByName('pageNumber')[0];
        pageNumberInput.value = page;
    }

    function setPageSize(size) {
        var pageSizeInput = document.getElementsByName('pageSize')[0];
        pageSizeInput.value = size;
        setPageNumber(1);
    }

    function increasePageNumber() {
        var pageNumberInput = document.getElementsByName('pageNumber')[0];
        pageNumberInput.value = parseInt(pageNumberInput.value) + 1;
    }

    function setSortParams(sortBy) {
        var currentSortBy = document.getElementsByName('sortBy')[0].value;
        var currentSortDirection = document.getElementsByName('sortDirection')[0].value;

        var newSortDirection = currentSortBy === sortBy && currentSortDirection === 'ASC' ? 'DESC' : 'ASC';

        document.getElementsByName('sortBy')[0].value = sortBy;
        document.getElementsByName('sortDirection')[0].value = newSortDirection;

        document.querySelector('form').submit();
    }


</script>
</body>

</html>