<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - Employer Details</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4"
                            th:text="'Employer nr '+ ${employerDetailsDTO.employerId} + ' Id: '+ ${employerDetailsDTO.employerUuid} + ''"></h6>
                        <div class=" text-center">
                            <img class="img-fluid rounded-circle mx-auto mb-4"
                                 style="width: 100px; height: 100px;"
                                 th:src="@{${photoProfileDir}}">
                        </div>
                        <dl class="row mb-0">
                            <dt class="col-sm-4" th:if="${employerDetailsDTO.logoFilename != null}">Logo</dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.logoFilename != null}" th:text="${employerDetailsDTO.logoFilename}"></dd>

                            <dt class="col-sm-4">Company Name</dt>
                            <dd class="col-sm-8" th:text="${employerDetailsDTO.companyName}"></dd>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.description != null}">Employer
                                description
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.description != null}"
                                th:text="${employerDetailsDTO.description}"></dd>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.website != null}">
                                Website
                            </dt>
                            <dd class="col-sm-8">
                                <a th:href="${employerDetailsDTO.website}"
                                   th:if="${employerDetailsDTO.website != null}"
                                   th:text="${employerDetailsDTO.website}">
                                </a>
                            </dd>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.numberOfEmployees != null}">Number Of
                                Employees
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.numberOfEmployees != null}" th:text="${employerDetailsDTO.numberOfEmployees}"></dd>


                            <dt class="col-sm-4" th:if="${employerDetailsDTO.emailContact != null}">Email Contact</dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.emailContact != null}"
                                th:text="${employerDetailsDTO.emailContact}"></dd>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.phoneNumber != null}">Phone Number</dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.phoneNumber != null}"
                                th:text="${employerDetailsDTO.phoneNumber}"></dd>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.cityId.cityName != null}">City</dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.cityId.cityName != null}"
                                th:text="${employerDetailsDTO.cityId.cityName}"></dd>

                            <div th:if="${employerDetailsDTO.amountOfAvailableOffers == 0}"><h6>This employer does not
                                have any job offers </h6></div>

                            <dt class="col-sm-4" th:if="${employerDetailsDTO.amountOfAvailableOffers != 0}">Amount Of
                                Available Offers
                            </dt>
                            <dd class="col-sm-8"
                                th:if="${employerDetailsDTO.amountOfAvailableOffers != 0}" th:text="${employerDetailsDTO.amountOfAvailableOffers}"></dd>

                            <a th:href="@{/offers?employer={companyName}(companyName=${employerDetailsDTO.companyName})}">
                                <button class="btn btn-sm btn-primary"
                                        th:if="${employerDetailsDTO.amountOfAvailableOffers != 0}" type="button">Job offers of this employer
                                </button>
                            </a>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>
</body>

</html>