<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>DevFinder Register</title>
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->

    <!-- Sign Up Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">


                <!--      PARAM ALERTS       -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You have successfully registered our app!
                        <strong th:if="${!enableEmailVerification}"><a th:href="@{/login}">Click here to Log in</a></strong>
                        <strong th:if="${enableEmailVerification}">Check your email box</strong>
                    </div>
                </div>
                <div th:if="${param.email_already_registered}">
                    <div class="alert alert-info">
                        There is already an account registered with that email! <strong><a th:href="@{/login}">Click here to Log in</a></strong>
                    </div>
                </div>
                <div th:if="${param.select_role}">
                    <div class="alert alert-info">
                        Select the role candidate or employer
                    </div>
                </div>
                <div th:if="${param.server_error}">
                    <div class="alert alert-info">
                        Server error, try again later!
                    </div>
                </div>
                <!--      PARAM ALERTS ENDS       -->

                <form method="POST"
                      role="form"
                      th:action="@{/register/save}"
                      th:object="${user}">

                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a th:href="@{/}" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DevFinder</h3>
                            </a>
                            <h3>Register</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="floatingText"
                                   placeholder="jhondoe"
                                   th:field="*{userName}"
                                   required
                                   minlength="3"
                                   maxlength="64"
                            >
                            <label for="floatingText">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="name@example.com"
                                   th:field="*{email}"
                                   required
                                   maxlength="64"
                            >
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password"
                                   class="form-control"
                                   id="floatingPassword"
                                   placeholder="Password"
                                   th:field="*{password}"
                                   required
                                   minlength="4"
                                   maxlength="64"
                            >
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input checked="checked"
                                       class="form-check-input"
                                       type="radio"
                                       name="role"
                                       value="candidate"
                                       th:value="${candidateEnum}"
                                       th:field="*{role}"
                                       id="flexRadioDefault1"

                                >
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Register as Candidate
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="radio"
                                       name="role"
                                       value="employer"
                                       th:value="${employerEnum}"
                                       th:field="*{role}"
                                       id="flexRadioDefault2"
                                >
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Register as Employer
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                        <p class="text-center mb-0">Already have an Account? <a href="/" th:href="@{/login}">Log in</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Sign Up End -->
</div>
<div th:replace="~{fragments :: js_}"></div>
</body>

</html>