<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
>

<head>
    <title>DevFinder - User Settings</title>
    <link href="../img/favicon.ico" rel="icon">
    <div th:replace="~{fragments :: head_style_}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{fragments :: spinner}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{fragments :: sidebar}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{fragments :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Content Side Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div th:if="${param.change_password_success}">
                            <div class="alert alert-success">Your password has been changed successfully!</div>
                        </div>
                        <div th:if="${param.change_password_fail}">
                            <div class="alert alert-danger">Your password is wrong</div>
                        </div>
                        <div>
                            <h6 class="mb-4">Settings</h6>
                            <form
                                    action="#"
                                    th:action="@{/user/delete}"
                                    th:method="DELETE"
                                    id="deleteUser"
                                    onsubmit="return confirm('Do you really want to delete Account?');"
                            >
                                <button
                                        form="deleteUser" class="btn btn-danger m-2"
                                        type="submit">
                                    Delete Account
                                </button>
                            </form>
                            <br>
                            <form th:action="@{/user/change-password}"
                                  th:method="PATCH"
                                  id="changePassword">
                                <h6 class="mb-4">
                                    Change Password
                                </h6>
                                <!--                                <div th:if = "${message}" class="text-center alert">-->
                                <!--                                    <p th:text = "${message}"></p>-->
                                <!--                                </div>-->
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="password"> Current Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" name="oldPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="newPassword">New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="confirmPassword">Confirm
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="confirmPassword" name="repeatNewPassword">
                                    </div>
                                </div>

                                <div class="buttonWrapper">
                                    <button type="submit" form="changePassword"
                                            class="btn btn-info m-2">
                                        Change
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Side End -->


        <!-- Footer Start -->
        <div th:replace="~{fragments :: footer}"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="~{fragments :: js_}"></div>

</body>

</html>